<html>
    <head>
        <title> Curriculum-Rails </title>
        <%= stylesheet_link_tag "pages" %>
    </head>

    <body>
    <div class="content">
        <div class="row">
            <div class="col">
                <%= render 'layouts/header' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="container">
                    <div class="card bg-dark text-light" id="about">
                        <h2> Bem vindo </h2>
                        <div class="card-body">
                            <p> Conheça nosso site, fazemos a criação de curricúlos ficarem bem dinâmicas e mais divertidas, adicione experi-
                            encias com nome da empresa, cargo e descrição de onde você trabalhou, adicione contatos para ajudar a para não
                            esquecer com quem você já contactou, tendo guardado o nome, email e telefone de seus contactados.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <div class="row footer">
            <div class="col-md-12 col-lg-12">
                <%= render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>