// Place all the styles related to the layouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0 !important;
}

header.navbar {
    height: fit-content !important ;
    padding: 0 50px;
}

// Footer
footer {
    width: 100%;
    bottom: 0px;
    padding: 25px 0;
    background-color: #0A0A0A!important;
}

footer p{
    text-align: center !important;
    color: rgba(255,255,255,.5) !important;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
}
//align-footer
.content {
    min-height: calc(100vh - 68px);
    padding-bottom: 15px;
  }

.footer {
    height: 50px;
}

// tirando config patrão do bootstrap(não ajudaram)
.col,
.col-md-12,
.col-lg-12 {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

// header configs components
li {
    height: auto !important;
    width: fit-content !important;
    float: left;
}

li a.nav-link {
    width: fit-content !important;
    padding: 25px 40px !important;
}

ul{
    width: 100% !important;
    height: fit-content !important ;
}

ul.navbar-nav {
    display: block;
}

li#login, li#logout{
    float: right;
}

li#login a {
    color: white;
}


// Carousel config

.carousel-msg {
    background-color: #a34331;
    max-height: 160px;
}

.carousel-msg p {
    font-size: 1.1rem;
    padding: 0 300px;
    text-align: center;
}

// Profile config
.team-developer {
    max-width: 100%;
    max-height: 100%;
    background-color: #a34331;
    width: 350px;
    height: 100%;
    padding: 50px 0;
}
.team-developer img {
    border-radius: 5px;
}


// util
.fit-c {
    width: fit-content !important;
    padding: 5px;
}

.m-top {
    margin-top: 5px;
}

.p-200{
    padding: 200px 0 ;
}
