



#about {
    margin-top: 20px;
    width: 100%;
}

#about h2 {
    margin-bottom: 0;
}

.card-body {
    font-family: 'Courier New', Courier, monospace !important;
    background-color: #c9cfd4;
}

.card-body p {
    margin-bottom: 0% !important;
}