// homePage configs
//card about component
#about {
    margin-top: 20px;
    width: 100%;
}

#about h2 {
    margin-bottom: 0;
}

.card h2 {
    text-align: center;
}

.card-body {
    font-family: 'Courier New', Courier, monospace !important;
    background-color: #a34331;
}

.card-body p {
    margin-bottom: 0% !important;
}

p {
    text-align: justify;
    margin-bottom: 0px !important;
}